# Node / Vite
node_modules/
dist/
.vite/
.pnpm-store/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage
coverage/

# Tauri / Rust
src-tauri/target/
src-tauri/.cargo/
.rustc_info.json
